# ===== PayApp PG 연동 키 (Vercel 환경 변수에 등록 권장) =====
PAYAPP_USERID=choijun
PAYAPP_LINKKEY=HKLGmqloJDacD/xSfNFAp+1DPJnCCRVaOgT+oqg6zaM=
PAYAPP_LINKVAL=HKLGmqloJDacD/xSfNFApxwEhfqPpIdErCc7aBp4klk=

# ===== Supabase 연동 키 =====
SUPABASE_URL=https://vybrnhyaeugfwezbygdt.supabase.co
SUPABASE_ANON_KEY=sb_publishable_FxH6HGkUaKfcJD9by_TLFQ_0PJk80J9
